<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All dish</title>
</head>
<body>
<h1>All dishes</h1>
<form th:action="@{all_dish}" th:method="GET">
    <label for="category">Choose category:</label><br/>
    <select id="category" name="category" >
        <option th:each="category : ${allCategories} " th:value="${category.getId}" th:text="${category.getName}"></option>
    </select><br/>
    <input type="submit" value="Group"></submit>
</form>
<form th:method="GET" th:action="all_dish">
    <input type="hidden" name="category" value="">
    <input type="submit" value="Default">
</form><hr/>
<table border="1px">
    <thead>
    <td>Назва</td>
    <td>Ціна</td>
    <td>Категорія</td>
    <td>Update</td>
    </thead>
    <tbody>
    <tr th:each="dish: ${allDish}">
        <td th:text="${dish.name}"></td>
        <td th:text="${dish.price}"></td>
        <td th:text="${dish.categories.getName}"></td>
        <td> <a th:href="${'update_dish/' + dish.id}">Update</a> </td>
    </tr>
    </tbody>
</table>

</body>
</html>