<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Admin</title>
    <link th:href="@{/static/style}" rel="stylesheet">
</head>
<body>
<header th:insert="pattern/admin/nav.html :: header"></header>
<h1>Admin</h1>
    <a th:href="@{/dev}">Dev</a>
</body>
</html>
