<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Something error</title>
</head>
<body>
    <div style="text-align: center;">
        <h1 th:text="'Sorry'"></h1>
        <h3 th:text="'Something error'"></h3>
        <a th:href="@{/static}" th:text="'Go to the main page'"></a>
    </div>
</body>
</html>